footer {
  z-index: 0;
  position: relative;
  width: 100%;
  margin-top: -15rem;
}

footer > section {
  z-index: 1;
  padding-top: 5px;
  display: flex;
  background-color: #9ccecb;
  bottom: 0;
  width: 100%;
}

#img {
  width: 80px;
}

#links {
  display: flex;
  text-decoration: none;
  color: black;
}

#theg {
  width: 50px;
}

footer p {
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  text-align: center;
  margin: 0 auto;
}

#footer-top {
  display: flex;
  flex-direction: column;
}

#second {
  display: flex;
  justify-content: center;
}

#third {
  display: flex;
  justify-content: flex-end;
}

#island-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: -96px;
}

.palm-tree {
  z-index: -1;
  width: 30%;
}

.palm-tree-mobile {
  display: none;
}

#left-tree {
  transform: scaleX(-1);
}

@media (max-width: 991px) {
  #island-group {
    margin-bottom: -68px;
  }
}
@media (max-width: 876px) {
  footer {
    margin-top: -10rem;
  }
}

@media (max-width: 767px) {
  footer {
    margin-top: -2rem;
  }

  #footer-top {
    align-items: center;
    text-align: center;
  }

  #second {
    padding-right: 0;
    justify-content: flex-start;
  }

  #third {
    padding-left: 0;
  }

  #island-group {
    margin-bottom: -65px;
  }

  .palm-tree {
    width: 38%;
  }
}

@media (max-width: 575px) {
  #island-group {
    margin-bottom: -65px;
  }

  .palm-tree {
    display: none;
  }

  .palm-tree-mobile{
    display: flex;
    z-index: -1;
    width: 35%;
  }
}
